.singlePage {
  display: flex;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .details {
    font-size: 18px;

    .item {
      margin: 30px 0px;

      .itemTitle {
        font-weight: 600;
        margin-right: 10px;
        text-transform: capitalize;
      }
    }
  }
}
