@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";


.users{
//    max-width: $md;

//         @include xl{
//             max-width: $xl;
//         }
//         @include lg{
//             max-width: 800px;
//         }
//         @include md {
//             max-width: 280px;
//         }
//         @include sm {
//             max-width: 300px;
//         }
      
}

/*
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;*/