@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";


.users{
    @include xxl{
        max-width: 910px;
      }
      @include xl{
        max-width: 800px;
      }
      @include lg{
        max-width: 560px;
      }
      @include md {
        max-width: 380px;
      }
      @include sm {
        max-width: 180px;
      }
}
